doctype
html
	include includes/head
	body
		.navbar
			img(src="img/ninjalogo.png")
			//- ul.menu
			//- 	li Registro
			//- 	li Información
			//- 	li Recursos
			//- 	li Contacto
		.registro
			h1 Registro
			<div class="eventbrite" style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=19090308627&ref=etckt" frameborder="0" height="360" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
			</div>
			img(class="cityhack" src="img/cityhack.png")
		.info
			h1 Información
				br
				|_____
			h2 Crea soluciones increíbles a problemas reales
			.wrapper
				p 
					|¿Qué podemos hacer para cambiar los problemas que aquejan a la población? La tecnología, el diseño y el estudio de nuestro entorno nos da poderes. El poder de visibilizar el problema a través de datos. El poder de simplificar procesos que, de manera análoga, serían largos y trabajosos. El poder de hacer llegar a una solución a mucha más gente. Aquí es donde entras tú. Buscamos hackers, personas con diversos perfiles que haciendo equipo generen soluciones para vencer problemas que están a su alrededor todos los días.  Esta es tu oportunidad para mostrar de qué estás hecho. 

				h2 Los retos a combatir en esta edición

				.quarter
					i.fa.fa-heartbeat.fa-5x
					h3 Obesidad infantil
					p México ocupa el primer lugar en obesidad infantil. ¿Algo más que decir?
				.quarter
					i.fa.fa-venus-mars.fa-5x
					h3 Embarazo Adolescente
					p Un problema de muchas dimensiones. ¿Prevención? ¿Cómo ser mejores padres? Depende de tí
				.quarter
					i.fa.fa-tint.fa-5x
					h3 Inundaciones
					p Tu lo sufres, yo lo sufro, todos lo sufrimos. 
						br
						|Buena noticia: Tenemos datos para combatirlas
				.quarter
					i.fa.fa-recycle.fa-5x
					h3 Reciclaje urbano
					p No hablamos de latas, hablamos de casas. ¿Qué hacemos con las propiedades en estado de abandono? ¿Cómo las identificamos?


		.recursos
			h1 Recursos
				br
				|_____
			h2 Aquí podrás encontrar recursos relevantes para prepararte para el evento
			.wrapper
				h3 Obesidad Infantil
				.recurso
					.quarter
						i.fa.fa-file-pdf-o.fa-4x
						p Próximamente
					.quarter
						i.fa.fa-file-pdf-o.fa-4x
						p Próximamente
					.quarter
						i.fa.fa-file-pdf-o.fa-4x
						p Próximamente
					.quarter
						i.fa.fa-file-pdf-o.fa-4x
						p Próximamente
				
				.cf
				h3 Embarazo Adolescente

				.recurso
					.quarter
						i.fa.fa-file-pdf-o.fa-4x
						p Próximamente
					.quarter
						i.fa.fa-file-pdf-o.fa-4x
						p Próximamente
					.quarter
						i.fa.fa-file-pdf-o.fa-4x
						p Próximamente
					.quarter
						i.fa.fa-file-pdf-o.fa-4x
						p Próximamente
				
				.cf
				h3 Inundaciones

				.recurso
					.quarter
						i.fa.fa-file-pdf-o.fa-4x
						p Próximamente
					.quarter
						i.fa.fa-file-pdf-o.fa-4x
						p Próximamente
					.quarter
						i.fa.fa-file-pdf-o.fa-4x
						p Próximamente
					.quarter
						i.fa.fa-file-pdf-o.fa-4x
						p Próximamente
				.cf
				h3 Reciclaje Urbano

				.recurso
					.quarter
						i.fa.fa-file-pdf-o.fa-4x
						p Próximamente
					.quarter
						i.fa.fa-file-pdf-o.fa-4x
						p Próximamente
					.quarter
						i.fa.fa-file-pdf-o.fa-4x
						p Próximamente
					.quarter
						i.fa.fa-file-pdf-o.fa-4x
						p Próximamente


		.contacto
			h1 ¿Tienes dudas sobre el evento?
			h2 
				a(href="mailto:info@codeandogdl.org") info@codeandogdl.org

		.partners
			.wrapper
				h1 Este evento se realiza gracias a

				.third
					img(src="img/codeandomx.png")
				.third
					img(src="img/jalisco.png")
				.third
					img(src="img/sicyt.png")

			.wrapper
				h2 Con la colaboración de
				.quarter
					img(src="img/pewpew.png")
				.quarter
					img(src="img/ltu.png")
				.quarter
					img(src="img/hg.png")
				.quarter
					img(src="img/meetroopers.png")




