head
	meta(charset="utf-8")
	title= "Hack"
	link(rel="stylesheet" type="text/css" href="css/styles.css")
	link(rel="stylesheet" type="text/css" href="css/font-awesome.min.css")
	meta(name="viewport" content="width=device-width, user-scalable=no")
	meta(property="fb:admins" content="100005985798195")
	meta(property="og:url" content="http://hack.codeandoguadalajara.org")
	meta(property="og:title" content="Hack! Ciudades Sustentables y vida saludable")
	meta(property="og:description" content="Crea soluciones increíbles a problemas reales")
	meta(property="og:image" content="http://s13.postimg.org/l7wkrul2f/Captura_de_pantalla_2015_11_02_a_las_1_22_19_p_m.png")
